<div class="flex h-64 bg-[#b14831] relative">
  <h1 class="text-5xl m-auto font-semibold text-white">Trainer Page</h1>
  <img src="./assets/pokemon-logo-black-transparent.png" class="absolute top-0 left-0 h-64" alt="your-image-alt-text"/>
  <img
    src="https://archives.bulbagarden.net/media/upload/a/a5/Spr_HGSS_Ethan.png"
    alt="Trainer"
    class="absolute right-[25%] bottom-0 h-60"
  />
  <a routerLink="/catalogue-page">
    <button
      class="absolute top-2 right-10 bg-blue-400 px-2 py-1 rounded text-white font-semibold"
    >
      Catalogue Page
    </button>
  </a>
</div>
