<div class="flex h-64 bg-blue-400 relative">
  <img src="./assets/pokemon-logo-black-transparent.png" class="absolute top-0 left-0 h-64" alt="your-image-alt-text"/>
  <h1 class="text-5xl m-auto font-semibold text-white">Catalogue Page</h1>
  <img
    src="https://archives.bulbagarden.net/media/upload/5/52/HGSS_Ethan_Back.png"
    alt="Trainer"
    class="absolute left-[25%] bottom-0 h-60"
  />
  <a routerLink="/trainer-page">
    <button
      class="absolute top-2 right-5 bg-red-500 px-2 py-1 rounded text-white font-semibold"
    >
      Trainer Page
    </button>
  </a>
</div>

<!-- Add an image container -->
<!-- <div class="image-container">
        <img
          src="./assets/pokemon-logo-black-transparent.png"
          width="200"
          height="200"
          alt="your-image-alt-text"
        /> -->
